@import url("https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Lexend+Giga:wght@100..900&family=Lexend+Mega:wght@100..900&display=swap");
template, html {
  margin-left: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior-block: none;
}

html {
  animation-name: scrollcontrol;
  animation-duration: 6s;
}

@keyframes scrollcontrol {
  0% {
    overflow-y: hidden;
  }
  99% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: scroll;
  }
}

body {
  font-family: "Lexend Exa", sans-serif;
  color: white;
  margin-left: 0;
  margin-top: 0;
  height: 100vh;
}

div.app {
  height: 100vh;
}

.deco.header {
  max-width: 14vw;
  margin-left: 5vw;
  padding-left: 0vw;
  padding-right: 2vw;
  transition: 0.4s ease-out;
}

header {
  font-family: "Lexend Giga", sans-serif;
  width: 101vw;
  height: 8vw;
  display: flex;
  position: fixed;
  align-items: center;
  padding-right: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin-top: -20vw;
  z-index: 100;
  box-shadow: 0px 1vw 20px black;
  background: white;
  transition: margin-top 2s ease-out 6s, height 0.5s ease-out 0s, opacity 0.5s ease-out;
}

div#highlight {
  position: absolute;
  left: 4vw;
  z-index: -1;
  width: 16vw;
  height: 140%;
  background-color: rgba(0, 0, 0, 0.07);
  transition: left 1s ease-in-out, height 0.4s ease-out;
}

div.header {
  display: flex;
  align-self: center;
  align-items: center !important;
  justify-content: left;
  justify-items: center;
  justify-self: center;
  height: 8vw;
  width: 100%;
  position: fixed;
  z-index: 100;
  margin-left: 0;
  transition: 0.4s ease-out;
}

.rl {
  text-decoration: none !important;
  color: black;
}

button.headernav {
  font-family: "Lexend Exa", sans-serif;
  font-weight: 700;
  font-size: 2vw;
  width: 12vw;
  background: transparent;
  margin-left: 4vw;
  border: transparent;
  text-align: center !important;
  transition: font-size 0.4s;
}

h1 {
  font-family: 'Lexend Mega', sans-serif;
  font-weight: 800;
  font-size: 4.9vw;
  color: white;
  margin-top: 0.5vw;
}

h1.left {
  text-align: left !important;
  padding-left: 7vw;
  opacity: 0;
  transition: opacity 2s linear;
  transition-delay: 6s;
}

h2 {
  font-family: 'Lexend Giga', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 4vw;
  color: #12873F;
}

footer.foot {
  background-color: #003313;
  width: 100vw;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-bottom: 0;
  margin-top: 0;
  transition: bottom 0.4s ease-out;
}

.deco.foot {
  width: 10vw;
  transition: 0.4s;
}

p.foot {
  font-family: "Lexend Exa", sans-serif;
  color: white;
  text-align: center;
  font-size: 1vw;
}

div.title {
  display: flex;
  align-self: center;
  align-items: left !important;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  margin-left: -2vw;
  width: 102vw;
  flex-direction: column;
  position: relative;
  height: 58vw;
  background: black;
}

div.title2 {
  display: flex;
  align-self: center;
  align-items: left !important;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  margin-left: -2vw;
  width: 102vw;
  flex-direction: column;
  position: relative;
  font-family: 'Lexend Mega', sans-serif;
  padding-top: 11vw;
  height: 30vw;
  text-align: center;
  background-image: url("../assets/trojan.png");
  background-size: cover;
  --off: 0.25vw;
  text-shadow: var(--off) var(--off) 0 #003313, calc(-1*var(--off)) var(--off) 0 #003313, calc(-1*var(--off)) calc(-1*var(--off)) 0 #003313, var(--off) calc(-1*var(--off)) 0 #003313;
}

div.caption {
  margin-top: 10vw;
  z-index: 1;
  position: relative;
  --off: 0.25vw;
  text-shadow: var(--off) var(--off) 0 #003313, calc(-1*var(--off)) var(--off) 0 #003313, calc(-1*var(--off)) calc(-1*var(--off)) 0 #003313, var(--off) calc(-1*var(--off)) 0 #003313;
}

video.title {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

.deco.welcome {
  width: 40vw;
  transition: width 0.4s;
}

div.eventstrip {
  display: flex;
  align-self: center;
  align-items: center !important;
  justify-content: left;
  justify-items: center;
  justify-self: center;
  overflow-x: scroll !important;
  width: 80vw;
  padding: 2vw;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-bottom: 2vw;
  border-radius: 12px;
  background: #004C1D;
  position: static;
  z-index: -2;
  border-color: black;
  border-width: 7px;
  border-style: solid;
}

div.eventcard {
  display: flex;
  align-self: center;
  align-items: center !important;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  flex-direction: column;
  margin-top: 0;
  height: 10.5vw;
  min-width: 25vw;
  background: #FFF;
  padding: 1vw;
  box-shadow: 0px 0.8vw 5px 0px black;
  border-radius: 8px;
  margin-right: 2vw;
  mask-image: none;
  -webkit-mask-image: none;
  filter: brightness(1);
  transition: 0.5s border-radius cubic-bezier(0.34, 1.56, 0.64, 1), 0.5s filter cubic-bezier(0.34, 1.56, 0.64, 1), 0.3s min-width cubic-bezier(0.34, 1.56, 0.64, 1), 0.3s height cubic-bezier(0.34, 1.56, 0.64, 1);
  cursor: pointer;
}

div.eventcard:hover {
  border-radius: 14px;
  filter: brightness(0.9);
  height: 12vw;
  min-width: 27vw;
}

h2.eventcard {
  font-weight: 400;
  font-size: 2vw;
}

h3.eventcard {
  margin-top: 1vw;
  text-align: center;
  font-family: "Lexend Exa", sans-serif;
  font-weight: 300;
  font-size: 1.5vw;
  color: #12873F;
  margin-bottom: 0;
}

h4.eventcard {
  margin-top: 1vw;
  text-align: center;
  font-family: "Lexend Exa", sans-serif;
  font-weight: 300;
  font-size: 0.8vw;
  color: #757575;
  margin-bottom: 0;
}

p.eventcard {
  margin-top: 1vw;
  text-align: center;
  font-family: "Lexend Exa", sans-serif;
  font-size: 1vw;
  color: #999999;
}

header.float {
  margin-top: 0vw !important;
}

h1.fade {
  opacity: 1 !important;
}

.slide-left-enter-active, .slide-right-enter-active, .slide-left-leave-active, .slide-right-leave-active {
  transition: transform 1s cubic-bezier(0.76, 0, 0.24, 1), filter 0.5s ease-in;
  position: absolute;
}

.slide-right-enter-from, .slide-left-leave-to {
  transform: translateX(-100vw);
  filter: blur(8px);
}

.slide-left-enter-to, .slide-right-enter-to {
  transform: translateX(0);
  filter: blur(0px);
}

.slide-left-leave-from, .slide-right-leave-from {
  transform: translateX(0);
  filter: blur(0px);
}

.slide-right-leave-to, .slide-left-enter-from {
  transform: translateX(100vw);
  filter: blur(8px);
}

main {
  overflow: hidden;
  width: 100vw;
}

.model-leave-active {
  transition: 1s filter ease-out;
}

.model-enter-active {
  transition: 1s filter ease-out;
  transition-delay: 2s;
}

.model-enter-from, .model-leave-to {
  filter: brightness(0);
}

.model-enter-to, .model-leave-from {
  filter: brightness(1);
}

div.drop {
  position: absolute;
  display: flex;
  top: 9vw;
  left: 88vw;
  flex-direction: column;
  background: white;
  width: 12vw;
  max-height: 0vw;
  overflow-y: hidden;
  font-size: 1.6vw;
  transition: 0.5s top ease-out, 0.5s font-size ease-out, 0.3s max-height ease-out;
}

div.dropitem {
  background: transparent;
  height: 8vw;
  display: inline-block;
  vertical-align: middle;
  color: black;
  border-top-color: black;
  border-top-width: 2px;
  border-top-style: solid;
}

component {
  overflow-x: hidden;
}

h4 {
  text-align: center;
  font-size: 1.4vw;
  font-weight: 300;
  color: black;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

div.eventstrip::-webkit-scrollbar {
  height: 0.5vw;
}

::-webkit-scrollbar-track {
  background-color: #ededed;
  border-radius: 13px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 15px #2dff7d;
  border-radius: 13px;
}
