@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Lexend+Giga:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Lexend+Giga:wght@100..900&family=Lexend+Mega:wght@100..900&display=swap');

$header-font: 'Lexend Mega', sans-serif;
$subhead-font: 'Lexend Giga', sans-serif;
$body-font: 'Lexend Exa', sans-serif;
$primary-color: white;

@mixin basediv($align) {
  display: flex;
  align-self: center;
  align-items: center !important;
  justify-content: $align;
  justify-items: center;
  justify-self: center;
}


body {
  font-family: $body-font;
  color: $primary-color;
  margin-left: 0;
  margin-top: 0;
  height: 100vh;
}

div.app {
  height: 100vh;
}

// front page 
// header

template, html {
  margin-left: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior-block: none;
}

.deco.header {
    max-width: 10vw;
    padding-left: 0vw;
    padding-right: 3vw;
    transition: width 0.4s ease-out, height 0.4s ease-out;
  }  

header {
   font-family: $subhead-font;
    width: 101vw;
    height: 8vw;
    display: flex;
    position: fixed;
    align-items: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    z-index: 100;
    box-shadow: 0px 1vw 20px black;
    background: white;
    transition: 
      width 0.4s ease-out, 
      height 0.4s ease-out;
}
div.header {
    @include basediv(left);
    height: 8vw;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin-left: 0;
    transition:  0.4s ease-out, 
}

.rl {
  text-decoration: none !important;
  color: black;
}
button.headernav {
    font-family: $body-font;
    font-weight: 700;
    font-size: 2vw;
    width: 12vw;
    background: transparent;
    margin-left: 4vw;
    border: transparent;
    text-align: center !important;
    transition: font-size 0.4s;
    }

h1 {
  font-family: 'Lexend Mega', sans-serif;
  font-weight: 800;
  font-size: 4.9vw;
  color: white;
  margin-top: 0.5vw;
}    

h2 {
  font-family: 'Lexend Giga', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 4vw;
  color: #6973E2;
}

// footer

footer.foot {
  background-image: url('../assets/Welcome Background.png');
  width: 100vw;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-bottom: 0;
  transition: bottom 0.4s ease-out;
}

.deco.foot {
  width: 10vw;
  transition: 0.4s;
}

p.foot {
  font-family: $body-font;
  color: white;
  text-align: center;
  font-size: 1vw;
}
// title strip

div.title {
    @include basediv(center);
    margin-left: -2vw;
    width: 102vw;
    height: 46vw;
    flex-direction: column;
    position: relative;
    z-index: 2;
    padding-top: 2vw;
    margin-top: 10vw;
    background-image: url('../assets/Welcome Background.png');
    background-size: 100% 100%;
}

.deco.welcome {
  width: 40vw;
  transition: width 0.4s;
}  

// event strip

div.eventstrip {
  @include basediv(left);
  overflow-x: scroll !important;
  width: 80vw;
  padding: 2vw;
  margin-bottom: 2vw;
  border-radius: 27px;
  background: #DEDEDE;
  position: static;
  z-index: -2;
}

div.eventcard {
  @include basediv(center);
  flex-direction: column;
  margin-top: 0;
  height: 10.5vw;
  min-width: 25vw;
  background: #F6BD60;
  padding: 1vw;
  box-shadow: 0px 0.2vw 3px 0px black;
  border-radius: 27px;
  margin-right: 2vw;
}

h3.eventcard {
  margin-top: 1vw;
  text-align: center;
  font-family: $body-font;
  font-weight: 300;
  font-size: 3vw;
  color: white;
  margin-bottom: 0;
}

h4.eventcard {
  margin-top: 1vw;
  text-align: center;
  font-family: $body-font;
  font-weight: 300;
  font-size: 1.4vw;
  color: #757575;
  margin-bottom: 0;
}

p.eventcard {
  margin-top: 1vw;
  text-align: center;
  font-family: $body-font;
  font-size: 1.5vw;
  color: white;
}

// page transition

.slide-left-enter-active, .slide-right-enter-active, .slide-left-leave-active, .slide-right-leave-active {
  transition: 
    transform 1s cubic-bezier(0.76, 0, 0.24, 1),
    filter 0.5s ease-in;
  position: absolute; 
}

.slide-right-enter-from, .slide-left-leave-to {
  transform: translateX(-100vw);
  filter: blur(8px);
}

.slide-left-enter-to, .slide-right-enter-to {
  transform: translateX(0);
  filter: blur(0px);
}

.slide-left-leave-from, .slide-right-leave-from {
  transform: translateX(0);
  filter: blur(0px);
}

.slide-right-leave-to, .slide-left-enter-from{
  transform: translateX(100vw);
  filter: blur(8px);
}

main {
  overflow: hidden;
  width: 100vw;
}