@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Lexend+Giga:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Lexend+Giga:wght@100..900&family=Lexend+Mega:wght@100..900&display=swap');

$header-font: 'Lexend Mega', sans-serif;
$subhead-font: 'Lexend Giga', sans-serif;
$body-font: 'Lexend Exa', sans-serif;
$primary-color: white;
$secondary-color: #003313;

@mixin basediv($align) {
  display: flex;
  align-self: center;
  align-items: center !important;
  justify-content: $align;
  justify-items: center;
  justify-self: center;
}

@mixin titlediv() {
  display: flex;
  align-self: center;
  align-items: left !important;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  margin-left: -2vw;
  width: 102vw;
  flex-direction: column;
  position: relative;
}

html {
  animation-name: flow;
  animation-duration: 6s;
}

@keyframes flow {
  0% {overflow-y: hidden}
  99% {overflow-y: hidden}
  100% {overflow-y: scroll}
}

body {
  font-family: $body-font;
  color: $primary-color;
  margin-left: 0;
  margin-top: 0;
  height: 100vh;
}

div.app {
  height: 100vh;
}

// front page 
// header

template, html {
  margin-left: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior-block: none;
}

.deco.header {
    max-width: 14vw;
    padding-left: 0vw;
    padding-right: 2vw;
    transition: 0.4s ease-out;
  }  

header {
   font-family: $subhead-font;
    width: 101vw;
    height: 8vw;
    display: flex;
    position: fixed;
    align-items: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-top: -20vw;
    z-index: 100;
    box-shadow: 0px 1vw 20px black;
    background: white;
    transition: 
      margin-top 2s linear 6s,
      height 0.5s ease-out 0s;
}
div.header {
    @include basediv(left);
    height: 8vw;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin-left: 0;
    transition: 0.4s ease-out;
}

.rl {
  text-decoration: none !important;
  color: black;
}
button.headernav {
    font-family: $body-font;
    font-weight: 700;
    font-size: 2vw;
    width: 12vw;
    background: transparent;
    margin-left: 4vw;
    border: transparent;
    text-align: center !important;
    transition: font-size 0.4s;
    }

h1 {
  font-family: 'Lexend Mega', sans-serif;
  font-weight: 800;
  font-size: 4.9vw;
  color: white;
  margin-top: 0.5vw;
}    

h1.left {
  text-align: left !important;
  padding-left: 7vw;
  opacity: 0;
  transition: opacity 2s linear;
  transition-delay: 6s;
}

h2 {
  font-family: 'Lexend Giga', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 4vw;
  color: #12873F;
}

// footer

footer.foot {
  background-color: $secondary-color;
  width: 100vw;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-bottom: 0;
  transition: bottom 0.4s ease-out;
}

.deco.foot {
  width: 10vw;
  transition: 0.4s;
}

p.foot {
  font-family: $body-font;
  color: white;
  text-align: center;
  font-size: 1vw;
}
// title strip

div.title {
  @include titlediv();
  height: 58vw;
}

div.title2 {
  @include titlediv();
  height: 30vw;
  text-align: center;
  background-image: url('../assets/trojan.png');
}

div.caption {
  margin-top: 10vw;
  z-index: 1;
  position: relative;
  --off: 0.25vw;
  text-shadow:
    var(--off) var(--off) 0 $secondary-color,
    calc(-1*var(--off)) var(--off) 0 $secondary-color,
    calc(-1*var(--off)) calc(-1*var(--off)) 0 $secondary-color,
    var(--off) calc(-1*var(--off)) 0 $secondary-color;
}

video.title {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}
.deco.welcome {
  width: 40vw;
  transition: width 0.4s;
}  

// event strip

div.eventstrip {
  @include basediv(left);
  overflow-x: scroll !important;
  width: 80vw;
  padding: 2vw;
  margin-bottom: 2vw;
  border-radius: 12px;
  background: #004C1D;
  position: static;
  z-index: -2;
  border-color: black;
  border-width: 7px;
  border-style: solid;
}

div.eventcard {
  @include basediv(center);
  flex-direction: column;
  margin-top: 0;
  height: 10.5vw;
  min-width: 25vw;
  background: #FFF;
  padding: 1vw;
  box-shadow: 0px 0.2vw 3px 0px black;
  border-radius: 14px;
  margin-right: 2vw;
}

h3.eventcard {
  margin-top: 1vw;
  text-align: center;
  font-family: $body-font;
  font-weight: 300;
  font-size: 3vw;
  color: #12873F;
  margin-bottom: 0;
}

h4.eventcard {
  margin-top: 1vw;
  text-align: center;
  font-family: $body-font;
  font-weight: 300;
  font-size: 1.4vw;
  color: #757575;
  margin-bottom: 0;
}

p.eventcard {
  margin-top: 1vw;
  text-align: center;
  font-family: $body-font;
  font-size: 1.5vw;
  color: #999999;
}

// entrance transition
header.float {
  margin-top: 0vw !important;
}
h1.fade {
  opacity: 1 !important;
}
// page transitions

.slide-left-enter-active, .slide-right-enter-active, .slide-left-leave-active, .slide-right-leave-active {
  transition: 
    transform 1s cubic-bezier(0.76, 0, 0.24, 1),
    filter 0.5s ease-in;
  position: absolute; 
}

.slide-right-enter-from, .slide-left-leave-to {
  transform: translateX(-100vw);
  filter: blur(8px);
}

.slide-left-enter-to, .slide-right-enter-to {
  transform: translateX(0);
  filter: blur(0px);
}

.slide-left-leave-from, .slide-right-leave-from {
  transform: translateX(0);
  filter: blur(0px);
}

.slide-right-leave-to, .slide-left-enter-from{
  transform: translateX(100vw);
  filter: blur(8px);
}

main {
  overflow: hidden;
  width: 100vw;
}