// imports

@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Lexend+Giga:wght@100..900&family=Lexend+Mega:wght@100..900&display=swap');

// variable definitions

$spanish-orange: #e16a0dff;
$royal-blue-traditional: #002366ff;
$polynesian-blue: #1949a0ff;
$aero: #5bc0ebff;
$sandy-brown: #f5ad6eff;

$header-font: 'Lexend Mega', sans-serif;
$subhead-font: 'Lexend Giga', sans-serif;
$body-font: 'Lexend Exa', sans-serif;
$primary-color: white;
$secondary-color: $spanish-orange;


// scss "mixins"/reusable elements

@mixin basediv($align) {
  display: flex;
  align-self: center;
  align-items: center !important;
  justify-content: $align;
  justify-items: center;
  justify-self: center;
}

@mixin titlediv() {
  display: flex;
  align-self: center;
  align-items: left !important;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  margin-left: -2vw;
  width: 102vw;
  flex-direction: column;
  position: relative;
}

// universal styles

template, html {
  margin-left: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior-block: none;
  background: black;
}


html {
  animation-name: scrollcontrol;
  animation-duration: 6s;
}

@keyframes scrollcontrol {
  0% {overflow-y: hidden}
  99% {overflow-y: hidden}
  100% {overflow-y: scroll}
}

body {
  font-family: $body-font;
  color: $primary-color;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 100vh;
}

div.app {
  height: 100vh;
}

// front page header

.deco.header {
    width: 14vw;
    margin-left: 5vw;
    margin-right: 0vw;
    padding-left: 0vw;
    padding-right: 2vw;
    transition: 0.4s ease-out;
  }  

header {
   font-family: $subhead-font;
    width: 101vw;
    height: 8vw;
    display: flex;
    position: fixed;
    align-items: center;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    margin-top: -20vw;
    z-index: 100;
    box-shadow: 0px 1vw 2.3vw black;
    background: white;
    transition: 
      margin-top 2s ease-out 6s,
      height 0.5s ease-out 0s,
      opacity 0.5s ease-out;
}

div#highlight {
  position: absolute;
  left: 4vw;
  z-index: -1;
  width: 16vw;
  height: 140%;
  background-color: rgba(0, 0, 0, 0.07);
  transition: 
    left 1s ease-in-out,
    height 0.4s ease-out;
}
div.header {
    @include basediv(left);
    height: 8vw;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin-left: 0;
    transition: 0.4s ease-out;
}

.rl {
  text-decoration: none !important;
  color: black;
}
button.headernav {
    font-family: $body-font;
    font-weight: 700;
    font-size: 2vw;
    width: 12vw;
    background: transparent;
    margin-left: 4vw;
    border: transparent;
    text-align: center !important;
    transition: font-size 0.4s;
    }

// additional header styling

h1 {
  font-family: 'Lexend Mega', sans-serif;
  font-weight: 800;
  font-size: 4.9vw;
  color: white;
  margin-top: 0.5vw;
}    

h1.left {
  text-align: left !important;
  padding-left: 7vw;
  opacity: 0;
  transition: opacity 2s linear;
  transition-delay: 6s;
}

h2 {
  font-family: 'Lexend Giga', sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 4vw;
  color: $sandy-brown;
}

// footer

footer.foot {
  background-color: $secondary-color;
  width: 100vw;
  text-align: center;
  padding-top: 2vw;
  padding-bottom: 3vh;
  bottom: 0;
  height: 14vw;
  transition: bottom 0.4s ease-out;
  z-index: 2;
}

.fb {
  position: absolute;
}
.fe {position: absolute;}
.fp {position: absolute;}
.fh {position: absolute;}
.fi {position: absolute;}
.ft {position: absolute;}
.fhome {position: relative}

.deco.foot {
  width: 10vw;
  transition: 0.4s;
}

p.foot {
  font-family: $body-font;
  color: white;
  text-align: center;
  font-size: 1vw;
}

// title strips

div.title {
  @include titlediv();
  height: 58vw;
  background: black;
}

div.title2 {
  @include titlediv();
  font-family: 'Lexend Mega', sans-serif;
  padding-top: 11vw;
  height: 30vw;
  text-align: center;
  background-image: url('../assets/overhead.jpeg');
  background-size: cover;
  --off: 0.25vw;
  text-shadow:
    var(--off) var(--off) 0 $secondary-color,
    calc(-1*var(--off)) var(--off) 0 $secondary-color,
    calc(-1*var(--off)) calc(-1*var(--off)) 0 $secondary-color,
    var(--off) calc(-1*var(--off)) 0 $secondary-color;
}

div.caption {
  margin-top: 10vw;
  z-index: 1;
  position: relative;
  --off: 0.25vw;
  text-shadow:
    var(--off) var(--off) 0 $secondary-color,
    calc(-1*var(--off)) var(--off) 0 $secondary-color,
    calc(-1*var(--off)) calc(-1*var(--off)) 0 $secondary-color,
    var(--off) calc(-1*var(--off)) 0 $secondary-color;
}

video.title {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}
.deco.welcome {
  width: 40vw;
  transition: width 0.4s;
}  

// event strip

div.eventstrip {
  @include basediv(left);
  overflow-x: scroll !important;
  width: 80vw;
  padding: 2vw;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-bottom: 2vw;
  border-radius: 1.4vw;
  background: $royal-blue-traditional;
  position: static;
  z-index: -2;
  border-color: black;
  border-width: 0.6vw;
  border-style: solid;
}

div.eventcard {
  @include basediv(center);
  flex-direction: column;
  margin-top: 0;
  height: 10.5vw;
  min-width: 25vw;
  background: #FFF;
  padding: 1vw;
  box-shadow: 0px 0.8vw 0.4vw 0px black;
  border-radius: 1.1vw;
  margin-right: 2vw;
  mask-image: none;
  -webkit-mask-image: none;
  filter: brightness(1);
  transition: 
    0.5s border-radius cubic-bezier(0.34, 1.56, 0.64, 1),
    0.5s filter cubic-bezier(0.34, 1.56, 0.64, 1),
    0.3s min-width cubic-bezier(0.34, 1.56, 0.64, 1),
    0.3s height cubic-bezier(0.34, 1.56, 0.64, 1);
  cursor: pointer;
}

div.eventcard:hover{
  border-radius: 1.7vw;
  filter: brightness(0.9);
  height: 12vw;
  min-width: 27vw;
}

h2.eventcard {
  font-weight: 400;
  font-size: 2vw;
}
h3.eventcard {
  margin-top: 1vw;
  text-align: center;
  font-family: $body-font;
  font-weight: 300;
  font-size: 1.5vw;
  color: $spanish-orange;
  margin-bottom: 0;
}

h4.eventcard {
  margin-top: 1vw;
  text-align: center;
  font-family: $body-font;
  font-weight: 300;
  font-size: 0.9vw;
  color: #757575;
  margin-bottom: 0;
}

p.eventcard {
  width: 24vw;
  margin-top: 1vw;
  text-align: center;
  font-family: $body-font;
  font-size: 1vw;
  color: #999999;
}

// entrance transition

header.float {
  margin-top: 0vw !important;
}
h1.fade {
  opacity: 1 !important;
}

// page transitions

.slide-left-enter-active, .slide-right-enter-active, .slide-left-leave-active, .slide-right-leave-active {
  transition: 
    transform 1s cubic-bezier(0.76, 0, 0.24, 1),
    filter 0.5s ease-in;
  position: absolute; 
}

.slide-right-enter-from, .slide-left-leave-to {
  transform: translateX(-100vw);
  filter: blur(8px);
}

.slide-left-enter-to, .slide-right-enter-to {
  transform: translateX(0);
  filter: blur(0px);
}

.slide-left-leave-from, .slide-right-leave-from {
  transform: translateX(0);
  filter: blur(0px);
}

.slide-right-leave-to, .slide-left-enter-from{
  transform: translateX(100vw);
  filter: blur(8px);
}

// page transition to 3d model 

.virtualtour-leave-active {
  transition: 1s filter ease-out;
}

.virtualtour-enter-active {
  transition: 1s filter ease-out;
  transition-delay: 2s;
}

.virtualtour-enter-from, .virtualtour-leave-to {
  filter: opacity(0)
}

.virtualtour-enter-to, .virtualtour-leave-from {
  filter: opacity(1)
}

// dropdown menu

div.drop {
  position: absolute;
  display: flex;
  top: 9vw;
  left: 88vw;
  flex-direction: column;
  background: white;
  width: 12vw;
  min-height: 0vw;
  max-height: 0vw;
  overflow-y: hidden;
  font-size: 1.6vw;
  transition: 
    0.5s top ease-out,
    0.5s font-size ease-out,
    0.3s min-height ease-out,
    0.3s max-height ease-out,
    0.3s height ease-out;
}

div.dropitem {
  background: transparent;
  min-height: 33.3%;
  max-height: 33.3%;
  display: inline-block;
  vertical-align: middle;
  color: black;
  border-top-color: black;
  border-top-width: 0.3vw;
  border-top-style: solid;
  transition: 0.3s height ease-out;
}

// sliding animation 

@mixin rightslidediv($left) {
  border-top: 0.5vw solid $sandy-brown;
  border-radius: 0.5vw;
  width: 0vw;
  height: 10vw;
  background: none;
  margin-left: $left;
}

@mixin leftslidediv($right) {
  border-top: 0.5vw solid $sandy-brown;
  border-radius: 0.5vw;
  width: 0vw;
  height: 10vw;
  background: none;
  margin-right: $right;
}

div#leftslideanim {
  position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: start;
  right: 30vw;
  top: 15vw;
}

div#rightslideanim {
  position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: end;
  left: 30vw;
  top: 15vw;
}

div#rightslide1, div#rightslide3 {
  @include rightslidediv(0)
}
div#rightslide2 {
  @include rightslidediv(6vw)
}

div#leftslide1, div#leftslide3 {
  @include leftslidediv(0)
}
div#leftslide2 {
  @include leftslidediv(6vw)
}

@keyframes generalslide {
  0% {
    width: 0vw;
  }
  25% {
    width: 10vw;
  }
  50% {
    width: 20vw;
  }
  75% {
    width: 10vw;
  }
  100% {
    width: 0vw;
  }
}
@keyframes rightslide {
  0% {
    right: 30vw;
  }
  25% {
    right: 50vw;
  }
  50% {
    right: 70vw;
  }
  75% {
    right: 90vw;
  }
  100% {
    right: 110vw;
  }
}
@keyframes leftslide {
  0% {
    left: 30vw;
  }
  25% {
    left: 50vw;
  }
  50% {
    left: 70vw;
  }
  75% {
    left: 90vw;
  }
  100% {
    left: 110vw;
  }
}

.generalslide-active {
  animation-name: generalslide;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-play-state: running;
}
.rightslide-active {
  animation-name: rightslide;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-play-state: running;
}
.leftslide-active {
  animation-name: leftslide;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-play-state: running;
}
// miscellaneous styles

div.outer {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}
div.inner {
  position: relative;
  padding-bottom: 14vw;
}
component {
  overflow-x: hidden;
}
h4 {
  text-align: center;
  font-size: 1.4vw;
  font-weight: 300;
  color: black;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

div.eventstrip::-webkit-scrollbar {
  height: 0.5vw;
}

::-webkit-scrollbar-track {
  background-color: rgb(237, 237, 237);
  border-radius: 1.6vw;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 15px $royal-blue-traditional;
  border-radius: 1.6vw;
}